---
---

<div>
  <p>
    Here's some of the work I've done:
  </p>
  <ul class="mt-5">
    <li>
      Reorganized, updated, and reviewed <a href="https://github.com/stoplightio/spectral" target="_blank">Spectral</a> documentation, an open-source OpenAPI/AsyncAPI linter. (<a href="https://github.com/stoplightio/spectral/issues?q=assignee%3Aheitortsergent" target="_blank">link to PRs</a>)
    </li>
    <li>
      Implemented <a href="https://vale.sh/" target="_blank">Vale</a>, an open-source documentation linter, to standardize Stoplight product and open-source projects documentation to Microsoft's Writing Style Guide. <a href="https://blog.stoplight.io/linting-the-stoplight-docs-with-vale" target="_blank">I wrote a blog post about the experience</a>.
    </li>
    <li>
      Created a 22-module video course on the essentials of API Monitoring, as well as showing the most important product features. The course is available on the <a href="https://university.blazemeter.com/" target="_blank">BlazeMeter University website</a>, under "Master API Monitoring".
    </li>
    <li>
      Created a <a href="http://web.archive.org/web/20201208131041/http://blog.runscope.com/writing-for-runscope" target="_blank">Featured Guest Series program</a> for the Runscope blog, and worked with developers as an editor to write and publish new content for the blog. One of posts was <a href="https://medium.com/runscope/monolith-to-microservices-transforming-a-web-scale-real-world-e-commerce-platform-using-the-d56acf4e2e69" target="_blank">"Monolith to Microservices: Transforming a web-scale, real-world e-commerce platform using the Strangler Pattern" by Kristen Womack</a>.
    </li>
    <li>
      Wrote a series of blog posts on OpenAPI and API Monitoring for the Runscope blog. The blog has been taken offline, and some of the content is still available using the Wayback Machine, but I'm working to get it somewhere more easily available.
      <ul>
        <li><a href="http://web.archive.org/web/20220628195726/https://blog.runscope.com/posts/openapi-swagger-resource-list-for-api-developers" target="_blank">OpenAPI / Swagger Resource List for API Developers</a></li>
        <li><a href="https://web.archive.org/web/20201112010958/https://blog.runscope.com/posts/6-common-api-errors" target="_blank">6 Common API Errors</a></li>
        <li><a href="https://web.archive.org/web/20220820044841/https://blog.runscope.com/posts/playing-with-nodejs-and-the-runscope-api-on-glitch" target="_blank">Playing with Node.js and the Runscope API on Glitch: </a></li>
      </ul>
    </li>
  </ul>
</div>
