---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Heitor Tashiro Sergent
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hello! My name is Heitor, and I'm a developer / technical writer / product manager / I've been a part of startups and have had to wear all the hats 🤓.
    <br>
      This is a WIP of my blog, and also a page to share some of the work I've done in the past.
    <br>
      If you'd like to chat about APIs, startups, or coffee and videogames, please send me a message on <a href={"https://twitter.com/heitorburger"} target="_blank">Twitter</a>, <a href={"https://mastodon.social/@heitortsergent"} target="_blank">Mastodon</a>, or <a href={"https://www.linkedin.com/in/heitortsergent/"} target="_blank">LinkedIn</a>!
    </p>
  </div>
</section>
